[submodule "libs/json"]
	path = libs/json
	url = https://github.com/mbits-libs/json.git
[submodule "libs/movies"]
	path = libs/movies
	url = https://github.com/mbits-libs/movies.git
[submodule "external/tangle"]
	path = libs/tangle
	url = https://github.com/mbits-os/tangle.git
